

#crn-jumbotron-261507 { 
  background-color: rgb(255, 0, 128);
}

div.col-xs-12.col-md-10 { 
  border-top: 5px dashed rgb(255, 255, 255);
}

#crn-jumbotron-998928 { 
  background-color: rgb(255, 255, 0);
}